#BoasVindas{
	text-align: center;
}
#titulo{
	text-align: center;
}
#deslogar{
	margin-top:-422px;
	margin-left:70%;
}
#Cadastrar{
	margin-left:40%;
	margin-top:23px;
}
#conteudo{
	margin-top:72px;
}
#labelNome{
	margin-left:17%;
	
}
#nome{
	width:350px;
	margin-left:30%;
	margin-top:-34px;
}

